{% extends 'index.html' %}
{% load crispy_forms_tags %}
  {% block content %}

<div class="container wow fadeIn">
  <div><a class="btn btn-primary float-left" href="{% url 'orders:order_summary' %}">Continue Shopping</a></div>

  <h2 class="my-5 h2 text-center">Checkout form</h2>
  <div class="row">
    <div class="col-md-8 mb-4">
      <div class="card">
        <form method="POST" class="card-body">
          {% csrf_token %}
          <div class="form-row">
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <!-- <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"> -->
            {{form.street_address}}
          </div>
          <div class="form-group">
            <label for="address2">Address 2</label>
            <!--  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"> -->
            {{form.apartment_address}}
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="country">Country</label>
              <!--  <select id="inputCountry" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select> -->
              {{form.country}}
            </div>
            <div class="form-group col-md-6">
              <label for="zip">Zip</label>
              <!--  <input type="text" class="form-control" id="inputZip"> -->
              {{form.zip}}
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <!--  <input class="form-check-input" type="checkbox" id="gridCheck" name="same_billing_address"> -->
              {{form.same_shipping_address}}
              <label class="form-check-label" for="gridCheck">
                Shipping address same as billing address
              </label>
            </div>
            <div class="form-check">
              <!--  <input class="form-check-input" type="checkbox" id="gridCheck" name="save_info"> -->
              {{form.save_info}}
              <label class="form-check-label" for="gridCheck">
                Save this information for next time
              </label>
            </div>
            <hr>

            <div class="form-group">
              {% for value, name in form.fields.payment_option.choices %}
              <div class="form-check">
                <input class="form-check-input" type="radio" value="{{value}}" name="payment_option" id="{{name}}"
                       required>
                <label class="form-check-label" for="{{name}}">{{name}}</label>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="card-footer">
            <button class="btn btn-success btn-lg btn-block" type="submit">Continue to Checkout</button>
          </div>

        </form>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      {% include 'order_snippet.html' %}
    </div>

  </div>
</div>

{% endblock %}