{% extends 'index.html' %}
  {% block content %}

  <!-- Page Content -->

  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class=" logo my-4">Ecommerce</h1>
        {% for category in categories %}
        <div class="list-group">
          <a href="{% url 'products:product_list_category' category_id=category.id %}" class="list-group-item">{{category.name}}</a>
        </div>
        {% endfor %}
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
          <br>
          <br>
        <div class="row">
          {% for product in products %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="{{product.get_absolute_url}}"><img class="card-img-top" style="object-fit: cover;" src="{{product.media}}" alt="{{product.name}}"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{product.get_absolute_url}}">{{product.name}}</a>
                </h4>
                <h5>${{product.price}}</h5>
                <p class="card-text">{{product.description|slice:"0:53"}}...</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock %}